@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #4a5568; /* Gray-700 */
}

::-webkit-scrollbar-thumb {
  background: #3182ce; /* Blue-600 */
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #63b3ed; /* Blue-500 */
}